.components {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.components > div {
  flex: 1 1 30%;
  width: 20%;
  max-width: 25em;
}

.componentCard > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
