.form {
  display: flex;
  flex-direction: column;
  width: 25em;
}

.md {
  background-color: #000;
  color: white;
  font-size: medium;
  overflow-y: auto;
  height: 15em;
  padding: 0em 1em;
  border-radius: 5px;
  width: 100%;
}

.md > h1 {
  font-size: 2em;
}

.md > h2 {
  font-size: 1.5em;
}

.md > h3 {
  font-size: 1.25em;
}

.layout {
  display: flex;
  gap: 1em;
}

.layout > div {
  width: 50%;
}

.content {
  display: flex;
  height: 15em;
  gap: 1em;
}

.content > div {
  width: 50%;
}
