.component:empty:before {
  content: "No text";
  color: #999999;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fafafa;
  align-items: center;
  border-radius: 1em;
  padding: 1em;
  margin-top: 2em;
}

.header > h3 {
  margin: 0;
}

.md {
  /* white-space: pre-wrap; */
}

.md > p {
  margin: 5px 0px;
}
